.videoCard {
	margin-bottom: 40px;
	width: 270px;
}
.videoCard__description {
	margin-top: 10px;
	padding-right: 30px;
	display: flex;
}
.videoCard__thumbnail {
	height: 140px;
	width: 250px;
}

.videoCard__linkedin {
	height: 25px;
	width: 25px;
	padding: 5px 5px;
	object-fit: contain;
}

.videoCard__text {
	padding: 10px;
}
